.page {
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.page_body {
  min-width: 320px;
  margin: 0;
  background: linear-gradient(68.56deg, rgba(170, 203, 240, 0.25) 11.33%, rgba(170, 203, 240, 0.75) 64.1%), url("../img/Background_phone.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
@media (min-width: 768px) {
  .page_body {
    background: linear-gradient(68.56deg, rgba(170, 203, 240, 0.25) 11.33%, rgba(170, 203, 240, 0.75) 64.1%), url("../img/Background_tablet.jpg") no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .page_body {
    background: linear-gradient(68.56deg, rgba(170, 203, 240, 0.25) 11.33%, rgba(170, 203, 240, 0.75) 64.1%), url("../img/Background_desktop.jpg") no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }
}
a {
  text-decoration: none;
}
ul,
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.button {
  background: #f91155;
  color: #fff;
  height: 42px;
  display: flex;
  line-height: 24px;
  border-radius: 3px;
  justify-content: center;
  padding-top: 8px;
}
@media (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .button {
    width: 180px;
    height: 48px;
    margin-top: 24px;
    padding-top: 11px;
  }
}
.button:hover {
  background: #d8003f;
}
.button:active {
  background: #d8003f;
  color: #f9637c;
}
.hotel_lists--main_luxury:hover::before,
.hotel_lists--duplex:hover::before,
.hotel_lists--buisnes_luxury:hover::before {
  content: url("../img/hover-popup.svg");
  position: absolute;
  top: 28px;
}
.main_luxury--heading:hover,
.duplex-heading:hover,
.buisnes_luxury--heading:hover,
.desktop-price-vision-reserved__paid:hover {
  text-decoration: underline;
}
.main_luxury--heading:active,
.duplex-heading:active,
.buisnes_luxury--heading:active,
.desktop-price-vision-reserved__paid:active {
  text-decoration: none;
  opacity: 0.5;
}
.heading-wraper {
  text-align: center;
}
.main_heading {
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin: 24px 0;
}
@media (min-width: 768px) {
  .main_heading {
    font-size: 36px;
    line-height: 55px;
    font-weight: 500;
    padding: 27px 0 26px 0;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .main_heading {
    padding: 239px 0 33px 0;
  }
}
.main_wrapper {
  padding: 0 16px;
  align-items: center;
}
@media (min-width: 768px) {
  .main_wrapper {
    padding: 0 34px;
  }
}
.hotel_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .hotel_lists {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hotel_lists--main_luxury {
  width: 288px;
  height: 347px;
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%), url("../img/main_luxury-desktop.jpg") no-repeat;
  border-radius: 14px;
  padding: 56px 21px 0 21px;
  margin-bottom: 32px;
  position: relative;
}
@media (min-width: 768px) {
  .hotel_lists--main_luxury {
    width: 336px;
    height: 420px;
    padding: 94px 29px 0 29px;
    margin-right: 28px;
  }
}
@media (min-width: 1200px) {
  .hotel_lists--main_luxury {
    width: 372px;
    height: 372px;
    padding-top: 167px;
  }
}
.main_luxury--heading {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 10px 0;
}
@media (min-width: 768px) {
  .main_luxury--heading {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 9px 0;
    word-wrap: break-word;
  }
}
@media (min-width: 1200px) {
  .main_luxury--heading {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 9px 0;
  }
}
.main_luxury--text {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .main_luxury--text {
    font-size: 16px;
    line-height: 24px;
  }
}
.main_luxury--price {
  padding: 18px 0 16px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .main_luxury--price {
    font-size: 16px;
    line-height: 24px;
  }
}
.main_luxury--price__roboto-text {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .main_luxury--price__roboto-text {
    font-size: 19px;
  }
}
.main_luxury--price__roboto-number {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #ff4b77;
}
@media (min-width: 768px) {
  .main_luxury--price__roboto-number {
    font-size: 24px;
  }
}
.main_luxury--price__open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  opacity: 0.6;
}
.hotel_lists--duplex {
  width: 288px;
  height: 347px;
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%), url("../img/duplex-desktop.jpg") no-repeat;
  border-radius: 14px;
  padding: 98px 20px 0 20px;
  margin-bottom: 32px;
  position: relative;
}
@media (min-width: 768px) {
  .hotel_lists--duplex {
    width: 336px;
    height: 420px;
    padding: 150px 29px 0 29px;
  }
}
@media (min-width: 1200px) {
  .hotel_lists--duplex {
    width: 372px;
    height: 372px;
    padding-top: 167px;
    margin-right: 28px;
  }
}
.duplex-heading {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 10px 0;
}
@media (min-width: 768px) {
  .duplex-heading {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 9px;
  }
}
@media (min-width: 1200px) {
  .duplex-heading {
    margin: 0 0 9px 0;
  }
}
.duplex-text {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .duplex-text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 21px;
  }
}
.duplex-price {
  padding: 18px 0 16px 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  .duplex-price {
    font-size: 16px;
    line-height: 24px;
  }
}
.duplex-price__roboto-text {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .duplex-price__roboto-text {
    font-size: 19px;
  }
}
.duplex-price__roboto-number {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #ff4b77;
}
@media (min-width: 768px) {
  .duplex-price__roboto-number {
    font-size: 24px;
    line-height: 32px;
  }
}
.duplex-price__open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  opacity: 0.6;
}
.hotel_lists--buisnes_luxury {
  width: 288px;
  height: 347px;
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%), url("../img/buisnes_luxury-desktop.jpg") no-repeat;
  border-radius: 14px;
  padding: 77px 21px;
  margin-bottom: 32px;
  position: relative;
}
@media (min-width: 768px) {
  .hotel_lists--buisnes_luxury {
    width: 336px;
    height: 420px;
    padding: 150px 24px 0 24px;
  }
}
@media (min-width: 1200px) {
  .hotel_lists--buisnes_luxury {
    width: 372px;
    height: 372px;
    padding-top: 167px;
  }
}
.buisnes_luxury--heading {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
@media (min-width: 768px) {
  .buisnes_luxury--heading {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 9px 0;
  }
}
@media (min-width: 1200px) {
  .buisnes_luxury--heading {
    margin: 0 0 9px 0;
  }
}
.buisnes_luxury--text {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .buisnes_luxury--text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 21px;
  }
  .buisnes_luxury--text .break_word {
    display: none;
  }
}
.buisnes_luxury--price {
  padding: 18px 0 16px 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  .buisnes_luxury--price {
    font-size: 16px;
    line-height: 24px;
  }
}
.buisnes_luxury--price__roboto-text {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .buisnes_luxury--price__roboto-text {
    font-size: 19px;
  }
}
.buisnes_luxury--price__roboto-number {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #ff4b77;
}
@media (min-width: 768px) {
  .buisnes_luxury--price__roboto-number {
    font-size: 24px;
    line-height: 32px;
  }
}
.buisnes_luxury--price__open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  opacity: 0.6;
}
@media (min-width: 1200px) {
  .desktop-price-vision {
    display: flex;
    justify-content: space-between;
  }
}
.hotel_lists--reserved {
  opacity: 1;
}
.wrapper-reservation {
  position: relative;
}
.desktop-price-vision-reserved {
  background-color: #3c3e43;
  opacity: 2;
  position: absolute;
  width: 100%;
  height: 150px;
  top: 197px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  justify-content: center;
  flex-direction: column;
}
.desktop-price-vision-reserved__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.desktop-price-vision-reserved__paid {
  color: #ff4b77;
}
@media (min-width: 768px) {
  .desktop-price-vision-reserved {
    top: 258px;
    width: 336px;
    height: 161px;
  }
}
@media (min-width: 1200px) {
  .desktop-price-vision-reserved {
    top: 276px;
    width: 372px;
    height: 97px;
  }
}

/*# sourceMappingURL=style.css.map */
